@model IEnumerable<BodegaLucyCF.Models.Paquete>

@{

    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Paquete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad_Por_Paquete)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contenido_Por_Unidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion_Paquete)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Paquete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad_Por_Paquete)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contenido_Por_Unidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion_Paquete)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo_Paquete">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Codigo_Paquete">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Codigo_Paquete">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
