@model IEnumerable<BodegaLucyCF.Models.Usuario>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DNI_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido_Paterno_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido_Materno_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.clave_Usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pregunta_Secreta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Respuesta_Secreta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado_Usuario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DNI_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido_Paterno_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido_Materno_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.clave_Usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pregunta_Secreta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Respuesta_Secreta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado_Usuario)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Codigo_Usuario">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Codigo_Usuario">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Codigo_Usuario">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
