@model BodegaLucyCF.Models.Distribuidor

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Distribuidor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Razon_Social_Distribuidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Razon_Social_Distribuidor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RUC_Distribuidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RUC_Distribuidor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion_Distribuidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion_Distribuidor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono_Distribuidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono_Distribuidor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre_Contacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre_Contacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Telefono_Contacto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Telefono_Contacto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Estado_Distribuidor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Estado_Distribuidor)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Codigo_Distribuidor">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
